.evaluation-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.evaluation-container h1 {
  text-align: left;
  font-size: 32px;
  margin-bottom: 30px;
}

.team-select,
.rating-section,
.compliments-section,
.comments-section {
  margin-bottom: 25px;
}

.team-select label,
.rating-section label,
.compliments-section label,
.comments-section label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.team-select p {
  color: #757575;
  font-size: 14px;
  margin-bottom: 30px;
}

.comments-section textarea {
  width: 70%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 120px;
  margin-top: -25px;
  margin-bottom: 50px;
}

.team-select select {
  width: 15%;
  margin-bottom: 20px;
}

.stars {
  display: flex;
  margin-left: 120px;
  margin-top: -42px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: white;
  -webkit-text-stroke: 1px black;
}

.star.selected {
  color: #ffd700;
  -webkit-text-stroke: 1px black;
}

.compliments-options {
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-top: -37px;
}

.compliment-option {
  width: 45%;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.compliment-option input {
  margin-right: 8px;
}

.comments-section textarea {
  height: 100px;
  resize: vertical;
}

.reviewbutton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.reviewpglogo {
  margin-left: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
