.approve-container {
  margin: 20px 50px 20px 50px;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

.subtitle {
  font-size: 0.9em;
  color: #8a8a8a;
}

.tab-selector {
  margin-bottom: 20px;
}

.tab-selector button {
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  border-bottom: 3px solid transparent;
  color: #8a8a8a;
}

.tab-selector button.active {
  border-bottom: 3px solid black;
  color: black;
}

.study-group {
  margin-left: 10px;
  margin-right: 10px;
}

.autho-header-container {
  display: flex;
  width: 100%;
}

.autho-header-right {
  margin-left: auto;
}

.header-participant-container {
  display: flex;
  flex-wrap: wrap;
}
#span1 {
  font-weight: bold;
}
.study-date {
  color: #8a8a8a;
  margin-bottom: 10px;
  display: block;
}

.study-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* 현재 작업부분 */

.participant-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.participant-box {
  display: flex;
  width: 40%;
  border: 3px solid;
  padding: 10px;
  border-radius: 40px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.participant-box.red {
  border-color: red;
}
.participant-box.orange {
  border-color: orange;
}
.participant-box.yellow {
  border-color: #fffa8c;
}
.participant-box.green {
  border-color: green;
}
.participant-box.blue {
  border-color: blue;
}
.participant-box.navy {
  border-color: navy;
}
.participant-box.purple {
  border-color: purple;
}

#participant-message {
  margin-left: 40px;
  margin-bottom: 10px;
}
.participant-info-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.participant-info-box1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.participant-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-title {
  text-align: center;
  color: #6b6b6b;
}
.info-content {
  text-align: center;
}

.buttons {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.accept-btn {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 0.9em;
  background-color: #e0f7fa;
}

.reject-btn {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 0.9em;
  background-color: #ffebee;
}

/* hr {
  border: none;
  height: 2px;
  background-color: #f0f0f0;
} */
