.mid_recruit {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  /* z-index: 1; */
  overflow-x: auto;
  margin-top: 45px;
  margin-left: 10px;
}

.mid_box-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 92%;
  list-style: none;
}

.mid_box,
.new-study-box {
  display: flex;
  flex-direction: column;
  width: 87px;
  height: 130px;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-right: 35px;
  position: relative;
  margin-bottom: 55px;
  flex: 0 0 calc(20% - 10px);
}

.mid_title {
  margin-top: 50px;
  cursor: pointer;
  text-align: center;
}

.mid_user-info {
  display: flex;
  align-items: center;
}

.mid_info {
  margin-left: auto;
  margin-top: 25px;
  margin-right: 20px;
}

.mid_count {
  font-size: 14px;
  margin: 2px 0;
}

.mid_detail {
  font-size: 0.8em;
  color: #777;
}

.new-study-box {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: 2px solid rgb(155, 155, 155);
  width: 200px;
}

.new-study-link {
  text-decoration: none;
}
.new-study-content {
  text-align: center;
}

.plus-sign {
  font-size: 2em;
  color: #888;
}

.new-study-text {
  font-size: 0.9em;
  color: #888;
}
