.range{
    z-index: 1; /* 다른 요소들보다 위에 쌓임 */
    position: relative;
}

.range a{
    color: black;
    text-decoration: none;
}

.col{
    border: 1px solid rgb(40, 40, 40);
    flex-direction: column; 
    display: flex;
    margin-top: 10px;
}

.tag{
    text-align: center;
    width: 68px;
    font-size: 14px;
    border: 0.5px solid black;
    background-color: white;
    padding: 5px;
}
.tag:hover{
    background-color: #ffeaea;
}