.container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  flex-direction: row; /* Change to row to align items horizontally */
  justify-content: flex-start; /* Align items to the start of the container */
}

.main-name {
  margin-right: 20px; /* Adjust margin to provide space between main-name and item */
  margin-left: 170px; /* Retain the left margin if needed */
}

.item {
  display: flex;
  position: relative;
  margin-left: 180px;
  margin-top: 30px;
}

.large-text {
  font-size: 28px;
}

.small-text {
  font-size: 14px;
  color: #8a8a8a;
  margin-top: -25px;
}

.option {
  background-color: #ffffff;
  border: none;
  color: #333333;
  padding: 8px 16px;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}

.option.active {
  color: black;
}

.option::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.option.active::after {
  background-color: #688655;
}
