.profile-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile_board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.profile_left {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
}

.profile_right {
  display: flex;
  flex-direction: column;
}

.profile_rating {
  font-size: 1.1em;
  margin-bottom: 10px;
  margin-left: 10px;
}

hr {
  margin: 10px 0;
}

.profile_toggle-button {
  float: right;
  padding: 5px 10px;
  border: none;
  color: #434343;
  border-radius: 3px;
  cursor: pointer;
}

.top_profile_info {
  margin-bottom: 40px;
  margin-left: -360px;
  margin-top: 20px;
}

.top_profile {
  display: flex;
  align-items: center;
}

.top_profile_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid black;
}

.top_profile_details {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.details1 {
  margin: 10px 0;
}

.nickname {
  width: 100px;
  margin-right: 50px;
}
