/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.addschedule-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.addschedule-title input {
  font-size: 30px;
  border: none;
}

.addschedule-color {
  display: flex;
  margin-top: 20px;
}
.addschedule-color-title {
  width: 20%;
}

.addschedule-startD {
  display: flex;
}
.addschedule-startD-date {
  width: 50%;
}
.addschedule-startD-time {
  width: 50%;
}
