* {
  font-family: 'Imprima', sans-serif;
}

.page {
  position: absolute;
  padding: 0 20px;
  margin-top: 45px;
  left: 50%;
  transform: translate(-50%, 0); /* 정가운데에 위치 */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 500px;
  height: 500px;
}

.titleWrap {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.titleWrap b {
  font-size: 34px;
}

.titleWrap p {
  color: #7e7e7e;
  font-size: medium;
  padding-top: 10px;
}

.contentWrap {
  margin-bottom: 15px;
}

.idpw {
  outline: none;
  border: 1px solid #9f9f9f;
  height: 38px;
  font-size: 14px;
  width: 300px;
  border-radius: 3px;
  background-color: #f6f6f6;
}

.idpw::placeholder {
  color: #524d4d;
  padding-left: 8px;
}

.bottomButton {
  width: 310px;
  height: 35px;
  border: none;
  font-weight: 700;
  background-color: #c2f1a6;
  opacity: 0.7;
  border-radius: 64px;
  color: black;
  margin-bottom: 16px;
  cursor: pointer;
}

.mid {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.find,
.add {
  cursor: pointer;
  color: #7e7e7e;
  font-size: 12px;
}

.find {
  margin-left: 105px;
  margin-right: 38px;
}

.add {
  margin-left: 45px;
}

.mid p {
  margin: 0 4px;
}

.kakaoButton {
  width: 310px;
  height: 35px;
  border: none;
  font-weight: 700;
  background-color: #fddc3f;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: flex; /* 이미지와 텍스트를 가로로 배열 */
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-top: 5px;
}

.kakaoButton img {
  margin-right: 10px;
}

.line {
  margin-top: 8px;
}

.add,
.find {
  cursor: pointer;
  color: #7e7e7e;
  font-size: 12px;
  text-decoration: none;
}
