.joinup-form-container {
  width: 580px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 70%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.joinup-form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.joinup-form-container form {
  display: flex;
  flex-direction: column;
}

.infoTextFrame {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.userInputFrame {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
}

.userInputFrame .input-group {
  display: flex;
  align-items: center;
}

.userInputFrame .joinupInput-name {
  margin-right: 16px;
  width: 150px;
  margin-top: -22px;
}

.userInputFrame input {
  padding: 10px;
  margin-bottom: 24px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 3px;
  width: 100%;
  background-color: #fffbfb;
}

.userInputFrame input ::placeholder {
  color: #b7adad;
}

.joinup-form-container .JoinupForm-next {
  padding: 10px;
  background-color: #5cad73;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group p {
  margin-top: -10px;
  width: 100px;
  margin-left: -100px;
}

.red-asterisk {
  color: #e70f0f;
}
