.Text-Column {
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.table-header {
  width: 100%;
  display: flex;
  margin-bottom: 1%;
}

.Joinup-form-wrap th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.table-row {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.Test-button button {
  padding: 10px;
  background-color: #5cad73;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 15%;
  display: inline-block;
  margin-left: 47.5%;
}

.Test-button {
  width: 60%;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.row-0 {
  background-color: #ffe9e9;
}

.row-1 {
  background-color: #fff3e9;
}

.row-2 {
  background-color: #ffffe9;
}

.row-3 {
  background-color: #e9ffe9;
}

.row-4 {
  background-color: #e9fff8;
}

.row-5 {
  background-color: #e9f4ff;
}

.row-6 {
  background-color: #ece9ff;
}

.row-7 {
  background-color: #ffe9fe;
}

.row-8 {
  background-color: #ffe9e9;
}
.text-top-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.text-top {
  width: 40%;
  background-color: #e8ffee;
  text-align: center;
  margin-top: 45px;
  margin-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #8a8a8a;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.th-nickname,
.th-personality {
  text-align: center;
}

.th-personality {
  width: 70%;
}

.th-nickname {
  width: 20%;
}
