.Text-Column {
  width: 60%;
  margin-top: 50px;
  margin-left: 340px;
}

table {
  border-collapse: collapse;
}

.Joinup-form-wrap th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.table-row {
  display: block;
  margin-bottom: 20px;
  width: 800px;
}

.Test-button button {
  padding: 10px;
  background-color: #5cad73;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 15%;
  display: inline-block;
}

.Test-button {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.row-0 {
  background-color: #ffe9e9;
}

.row-1 {
  background-color: #fff3e9;
}

.row-2 {
  background-color: #ffffe9;
}

.row-3 {
  background-color: #e9ffe9;
}

.row-4 {
  background-color: #e9fff8;
}

.row-5 {
  background-color: #e9f4ff;
}

.row-6 {
  background-color: #ece9ff;
}

.row-7 {
  background-color: #ffe9fe;
}

.row-8 {
  background-color: #ffe9e9;
}

.text-top {
  width: 580px;
  height: 95px;
  background-color: #e8ffee;
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  border-radius: 10px;
  border: 1px solid #8a8a8a;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.nickname,
.personality {
  width: 150px;
  text-align: center;
}

.personality {
  margin-left: 360px;
  margin-bottom: 12px;
}

.nickname {
  margin-bottom: -21px;
  margin-left: 25px;
}
